body {
  background-color: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8rem;
}
.container {
  /* max-width: 50px; */
  max-height: 25vh;
  width: 50%;
}

.card {
}

.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}
